<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="footer" fxLayoutAlign="space-around" fxLayoutGap="5px">
  <div fxLayout="column">
    <h1 class="font-weight-bold"><i class="fa fa-location-arrow"></i> Navigation</h1>
    <p class="nav"><a routerLink="/welcome"> Home </a></p>
    <p class="nav"><a routerLink="/mobile"> Mobiles </a></p>
    <p class="nav"><a routerLink="/donate"> Your Kind Help | Donate </a></p>
    <p class="nav"><a routerLink="/contactus"> Contact Us </a></p>
    <p class="nav"><a routerLink="/aboutus"> About Us </a></p>
  </div>
  <div fxLayout="column">
    <h1 class="font-weight-bold"><i class="fa fa-building"></i> Here You Can Find Us...!</h1>
      <p class="address"> 111th Floor, </p>
      <p class="address"> Avengers Area, </p>
      <p class="address"> Marvel Space, </p>
      <p class="address"> Andhra Pradesh, </p>
      <p class="address"> Great India </p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" style="text-align:center" >
      
    </div>
    <div fxLayout="column">
      <h2  style="font-family: 'Carter One', cursive; font-size: 25px;">Chowki Dhukhaan</h2>
      <img class="center" src="../../assets/images/Logo.jpeg" alt="Chowki Dhukhaan" width="250" height="250">
    </div>
  </div>
</div>
<div class="font-weight-bold" class="footer-title" fxLayout="column" fxLayoutAlign="center center">
  <div>
    <a style="color: azure;">© Copyright 2020 Chowki Dhukan</a>
  </div>
</div>