<div class="jumbo"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="start center" 
    fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="75%">
      <h1 style="font-weight: bold;">CHOWKI DHUKHAAN</h1>
      <p style="font-size: large;">
        We take inspiration from the World's best e-commerce companies, and create a unique fusion experience. With a motivated team, we strive to be the creative minds that bring a smile to your face. That’s why we’re always looking for innovative new ways to get the best to you.
      </p>
      <p style="font-size: large;">
        Our customers are our top priority and through our products we work hard towards building long-lasting and meaningful relations with them.
      </p>
    </div>
</div>

<div class="mini-jumbo">
    <h1 class="font-weight-bold" style="color: #871A1A;font-size: 25px;">AboutUs</h1>
    <p style="font-size: large;">
      Welcome to CHOWKI DHUKHAAN!
    </p>
    <p style="font-size: large;">
      We're dedicated to giving you the very best of product, with a focus on dependability, customer service and uniqueness.
    </p>
    <p style="font-size: large;">
      We aim to offer our customers a variety of the latest mobiles. We’ve come a long way, so we know exactly which direction to take when supplying you with high quality yet budget-friendly products. We offer all of this while providing excellent customer service and friendly support.
    </p>
    <p style="font-size: large;">    
      We always keep an eye on the latest trends in mobiles and put our customers’ wishes first. That is why we have satisfied customers all over the world, and are thrilled to be a part of the mobile industry.
    </p>
    <p style="font-size: large;">
      The interests of our customers are always top priority for us, so we hope you will enjoy our products as much as we enjoy making them available to you.
    </p>
    <p style="font-size: large;">
      We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
    </p>
    <p style="font-size: large;">
      Sincerely,
    </p>
    <p style="font-size: large;">
      Chowki Dhukhaan
    </p>
</div>