<div fxLayout.md="row" fxLayoutGap="20px" fxLayout.sm="column" fxLayout.xs="column" fxLayout.lg="row" class="row-content" *ngFor="let m of menu" fxLayoutAlign="center" fxLayoutGap="20px">
	<div fxFlex.md="50" fxFlex.lg="50" fxLayoutAlign="center">
		<img class="img-fluid ex-card" style="border-radius: 5px;" height="250px" width="200px" src="{{m.imageUrl}}" alt="{{m.name}}" >
	</div>
		<div fxFlex.md="50" fxFlex.lg="50">
		  <h1 class="font-weight-bold" style="color: teal;font-size:xx-large;">{{m.name}}</h1>
		  <h2 class="font-weight-bold">{{m.colsto}}</h2>
		  <h3 style="border-bottom: 2px ridge;">Price: {{m.price | currency:'INR'}}</h3>
		  <div class="mb-3">
			  <button class="view-all" (click)="onConfirm()" style="background-color:#ff9f00;outline: none;" mat-raised-button>Add to cart</button>
		 </div>
		</div>
  </div>
  <div fxLayout="row">
	<div fxLayout="column" style="border-bottom: 2px ridge;padding-bottom: 10px;">
		<h2 style="margin: 0;font-weight: bold;font-family: 'Times New Roman', Times, serif;">About this product:</h2>
		<h2>Highlights</h2>
		<li *ngFor="let d of high">{{d.des}}</li>
		<h2>Product description</h2>
		<li *ngFor="let d of product">{{d.des}}</li>
	</div>
</div>