.jumbo {
  padding: 70px 30px;
  background: rgb(40, 253, 171);
  color: #000000;;
  min-height: 100px;
}


.example-card {
  background-color: rgb(255, 255, 255);
  width: 1000px;
  display: block;
  margin: 10px 10px;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s ease-out; 
}

.example-card:hover {
  transform: translateY(-5px) scale(1.06) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11), 0 24px 46px var(--box-shadow-color);
}

.example-card:hover .overlay {
  transform: scale(4) translateZ(0);
}

.button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
}