.example-card {
    width: 600px;
    padding: 0;
    margin: 0;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s ease-out; 
  }
  
.example-card:hover {
    transform: translateY(-5px) scale(1.06) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11), 0 24px 46px var(--box-shadow-color);
}

.example-card:hover .overlay {
    transform: scale(4) translateZ(0);
}

.example{
    width: 250px;
    margin-top: 10px;
}

.login-card{
    margin: 25px;
}

.title{
    border-radius: 20px 20px 0px 0px;
    font-family: 'Patua One', cursive;
    font-weight: 600;
    font-size: 23px;
    color: white;
    letter-spacing: 0.1em;
    background: linear-gradient(to bottom left, #f31a1a 0%, #08d3ee 100%);
    justify-content: center;
    text-transform: uppercase;
}

.example-button{
    margin: 10px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: white;
    background: linear-gradient(to top right, #ffff66 0%, #ff0066 100%);
    justify-content: center;
    width: 100px;
    outline: none;
    transition: 0.5s ease;
}

.example-button:hover {
    transform: scale(1.10);
}

.cancel-button{
    margin: 10px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: black;
    justify-content: center;
    width: 100px;
    outline: none;
    transition: 0.5s ease;
}