.example-card {
    width: 350px;
    padding: 0;
    margin: 0; 
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s ease-out;
    }
  
    .example-card:hover {
      transform: translateY(-5px) scale(1.005) translateZ(0);
      box-shadow: 0 24px 36px rgba(0,0,0,0.11), 0 24px 46px var(--box-shadow-color);
    }
    
    .example-card:hover .overlay {
      transform: scale(4) translateZ(0);
    }
  
  .example{
    width: 250px;
    margin-top: 10px;
  }
  
  .title{
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: white;
    background-color: #6676D1;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 20px 20px 0px 0px;
  }
  
  .example-button{
    margin: 10px;
    font-weight: bold;
    letter-spacing: 0.1em;
    background-color: #6676D1;
    justify-content: center;
    width: auto;
  }
  
  .example-form {
    min-width: 250px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .jumbo {
    color: rgb(0, 0, 0);
    padding: 50px 30px;
  }  