<!-- <div fxLayout="row" fxLayoutAlign="center" class="login-card">
    <mat-card class="example-card">
      <mat-toolbar class="title" color="primary">
        <span class="material-icons">contact_support</span>
        Write to Us!
      </mat-toolbar>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
          <mat-icon>
            <i class="fa fa-user-circle" aria-hidden="true"></i>
          </mat-icon>
          <mat-form-field class="example">
            <mat-label>Name</mat-label>
            <input matInput type="text" [formControl]="registerData.name" placeholder="Name" required>
            <mat-error *ngIf="registerData.name.invalid">{{getMessageName()}}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
          <mat-icon>
            <span class="material-icons">contact_phone</span>
          </mat-icon>
          <mat-form-field class="example">
            <mat-label>Phone Number</mat-label>
            <input matInput type="text" [formControl]="registerData.phone" placeholder="Phone Number" required>
            <mat-error *ngIf="registerData.phone.invalid">{{getMessagePhone()}}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
          <mat-icon>
            <span class="material-icons">contact_mail</span>
          </mat-icon>
          <mat-form-field class="example">
            <mat-label>Email</mat-label>
            <input matInput type="text" [formControl]="registerData.email" placeholder="Email" required>
            <mat-error *ngIf="registerData.email.invalid">{{getMessageEmail()}}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
            <mat-icon>
              <span class="material-icons">feedback</span>
            </mat-icon>
            <form class="example-form">
              <mat-form-field class="example-full-width">
                  <mat-label>Leave a comment</mat-label>
                  <textarea matInput placeholder="Ex. It makes me feel..." [formControl]="registerData.contactus"></textarea>
              </mat-form-field>
            </form>
          </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <button mat-raised-button color="primary" (click)="registerUser()" class="example-button">Submit</button>
      </div>
    </mat-card>
  </div> -->

  <div fxLayout="row" fxLayoutGap="10px" fxLayout.sm="column" fxLayout.xs="column" style="background-image: url(../assets/images/contactus.jfif); background-repeat: no-repeat; background-size: 100% 105%;">
    <div class="jumbo">
      <h1 style="font-weight: bold;font-size: x-large;"><span class="material-icons"> contact_page </span>
        Contact Us. So, We can help you. And We can also clear your queries.
      </h1>
      <mat-divider></mat-divider>
      <br>
      <p style="font-size: large;">
        Need help with Chowki Dhukan? Report issues and ask questions here or Just send us your questions or concerns by starting a 
        new case and we will give you the help you need.
      </p>
      <mat-divider></mat-divider>
        <br>
        <p style="font-size: large;">
          Only to Contact Chowki Dhukan? No, You can send your feedback to us through filling this form. And we will identify, validate and filter 
          each and every customer queries. Hence we will approach you with sensible solution to your question.
        </p>
        <mat-divider></mat-divider>
        <br>
        <h2 style="font-size: large;">
          <span class="material-icons">location_on</span>
          Address: 111th Floor, Avengers Area, Marvel Space, Andhra Pradesh, Incredible India.
        </h2>
        <h2 style="font-size: large;">
          <span class="material-icons">email</span>
          E - Mail: chowkidhukan@gmail.com
        </h2>
        <h2 style="font-size: large;">
          <span class="material-icons">phone</span>
          Phone Number: +91 6334 5312 40
        </h2>
        <mat-divider></mat-divider>
        <br>
        <h2 style="font-size: large; color: red; font-weight: bold;">
          <span class="material-icons">warning</span>
          NOTE: We don't approach you with any unofficial way. We call or email through the above details ONLY. If you recieve any messages from
          any related share your OTP i.e., any confidential Information then immediately raise the complaint regarding this to Cyber-Crime Department.
          Office Number: 040-27852412
        </h2>
    </div>
    <div fxLayoutAlign="center center" style="padding: 40px;">
      <div fxLayout="column" fxLayoutAlign="center" class="login-card">
        <mat-card class="example-card">
          <mat-toolbar class="title" color="primary">
            <span class="material-icons">create</span>
            Write to Us!
          </mat-toolbar>
          <div fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon><i class="fa fa-user-circle" aria-hidden="true"></i></mat-icon>
              <mat-form-field class="example">
                <mat-label>Name</mat-label>
                <input matInput type="text"required minlength="3" onkeypress="return (event.charCode > 64 && 
                      event.charCode < 91) || (event.charCode == 32) || (event.charCode > 96 && event.charCode < 123)" [formControl]="registerData.name" placeholder="Name" required>
                <mat-error *ngIf="registerData.name.invalid">{{getMessageName()}}</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon><span class="material-icons">phone</span></mat-icon>
              <mat-form-field class="example">
                <mat-label>Phone Number</mat-label>
                <input matInput type="number"  pattern=".{10}" [formControl]="registerData.phone" placeholder="Phone Number" required>
                <mat-error *ngIf="registerData.phone.invalid">{{getMessagePhone()}}</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon><span class="material-icons">email</span></mat-icon>
              <mat-form-field class="example">
                <mat-label>Email</mat-label>
                <input matInput type="email" pattern="[^'\x22]+" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [formControl]="registerData.email" placeholder="Email" required>
                <mat-error *ngIf="registerData.email.invalid">{{getMessageEmail()}}</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                <mat-icon><span class="material-icons">feedback</span></mat-icon>
                <form class="example-form">
                  <mat-form-field class="example-full-width">
                      <mat-label>Leave a comment</mat-label>
                      <textarea matInput placeholder="Ex. It would be better..." [formControl]="registerData.contactus"></textarea>
                    </mat-form-field>
                </form>
             </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center">
            <button mat-raised-button color="primary" (click)="registerUser()" [disabled]="registerData.phone.invalid || registerData.email.invalid || registerData.name.invalid || registerData.contactus.invalid" class="example-button">Submit Here</button>
          </div>
        </mat-card>
      </div>
    </div>  